.footer {
    color: white;
}
.container {
    padding-top: 30px;
    padding-bottom: 40px;
}

.links {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.links a{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    color: white;
}

.links p:active{
    color: rgb(187, 187, 187);
}

h5 {
    text-align: center;
}