#header {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    font-family: 'bebas-neue', 'sans-serif';
    font-size: 26px;
    background-color: red;
    border-radius: 0;
    margin-bottom: 5px;
}