@import '../../variables';

.head {
  margin-top: 70px;
  .title {
    max-width: 100%;
    padding-top: 40px;
    @media only screen and (max-device-width: 769px) {
      padding-top: 20px;
    }
    @media only screen and (max-device-width: 477px) {
      padding-top: 15px;
    }
  }
}

div.sec1 {
  padding-bottom: 60px;
  .row {
    margin-top: 40px;
    .port-image {
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
    .port-text {
      color: white;
      font-family: $title-font;
      text-align: left;
      &.left{
        text-align: left;
      }
      @media(min-width: 768px) {
        text-align: right;
      }
      h1{
        letter-spacing: 0.1em;
        font-size: 60px;
        margin-bottom: 0;
        @media only screen and (max-device-width: 477px) {
          margin-top: 20px;
          font-size: 45px;
        }
        @media only screen and (max-device-width: 769px) {
          margin-top: 20px;
        }
        @media only screen and (max-device-width: 1000px) {
          font-size: 50px;
        }
      }
    }
    .btn {
      font-family: "roboto-condensed", "sans-serif";
    }
  }
}

@media only screen and (max-device-width: 575px) {
 .hide {
   display: none;
 }
}
