$title-font: 'bebas-neue', 'sans-serif';
$primary-color: red;

#header {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    font-family: $title-font;
    font-size: 26px;
    background-color: $primary-color;
    border-radius: 0;
    margin-bottom: 5px;
}