#aboutImg {
    float: right;
    max-width: 25%;
    border-radius: 10px;
}

#header {
    max-width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.expLocation {
    display: block;
    float: right;
    text-align: right;
}

.expTitle {
    display: inline;
    text-align: left;
}

h1 {
    font-family: "bebas-neue";
    color: white;
    text-align: center;
    font-size: 200px;
    margin-bottom: -40px;
    padding-bottom: -10px;
}

#subHead {
    font-family: "roboto-condensed";
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: lighter;
}

.redLine {
    color: red;
}

.card {
    margin-bottom: 20px;
    border-style: none;
}