<h1>Joel Adams</h1>
<h4>Portland, OR based Photographer, Designer, and Web Developer</h4>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Bio</h4>
        </div>
        <div class="card-text">
          <img id="aboutImg" src="https://i.imgur.com/POSwckT.jpg" alt="Joel Adams">
          <p>I'm a Portland, OR based Photographer, Designer, and Web Developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Contact</h4>
        </div>
        <div class="card-text">
            <p><strong>Cell:</strong> 1 (907) 227-1772</p>
            <p><strong>Email:</strong> <a target="_blank" href="mailto:joeladadamsdesign@gmail.com">joeladadamsdesign@gmail.com</a></p>
            <p><strong>GitHub:</strong> <a target="_blank" href="https://github.com/joelaphoto">joelaphoto</a></p>
            <p><strong>LinkedIn:</strong> <a target="_blank" href="https://www.linkedin.com/in/joelradams/">joelradams</a></p>
        </div>
      </div>
    </div>
  </div>
</div>