
<img id="header" src="./assets/images/header.png" alt="header">
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Bio</h4>
        </div>
        <div class="card-text">
          <hr>
          <img id="aboutImg" src="https://i.imgur.com/POSwckT.jpg" alt="Joel Adams">
          <p>I'm a Portland, OR based Photographer, Designer, and Web Developer</p>
        </div>
      </div>
      <a target="_blank" href="https://drive.google.com/open?id=15hxUWP69YufQW5ArGU7b9SdEvAXLMZXM" class="btn btn-danger">View Full Resume</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Contact</h4>
        </div>
        <div class="card-text">
          <hr>
          <p>
            <span class="boldText">Cell:</span> 1 (907) 227-1772</p>
          <p>
            <span class="boldText">Email:</span>
            <a target="_blank" href="mailto:joeladadamsdesign@gmail.com">joeladadamsdesign@gmail.com</a>
          </p>
          <p>
            <span class="boldText">GitHub:</span>
            <a target="_blank" href="https://github.com/joelaphoto">joelaphoto</a>
          </p>
          <p>
            <span class="boldText">LinkedIn:</span>
            <a target="_blank" href="https://www.linkedin.com/in/joelradams/">joelradams</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Experience</h4>
        </div>
        <div class="card-text">
          <hr>
          <div class="row">
            <div class="col-md-12">
              <h6>Film/Digital Photography</h6>
              <p>10 years experience in digital and film photography. Recieved training through UAA's fine art photography program,
                additional training on equipment through Canon USA, Nikon USA, and more. Professional photography business
                in operation for 8 years.</p>
              <h6>Web Development</h6>
              <p>Techical training through Epicodus in C#, Javascript, HTML, CSS, Angular, jQuery, Firebase, .NET and Entity
                Frameworks. Additional knowledge of Unity and AFrame's web based VR library through personal exploration.</p>
              <h6>Graphic Design</h6>
              <p>Graphic design education through UAA's 2D design program. One year employment experience through position at
                UAA Student Activities. Eight years freelance experience working for individual clients. Fluent in Adobe
                Creative Suite software particularly Lightroom, Photoshop, Illustrator, and inDesign.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>