<h1>Joel Adams</h1>
<h4>Portland, OR based Photographer, Designer, and Web Developer</h4>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Bio</h4>
        </div>
        <div class="card-text">
          <img id="aboutImg" src="https://i.imgur.com/POSwckT.jpg" alt="Joel Adams">
          <p>I'm a Portland, OR based Photographer, Designer, and Web Developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Contact</h4>
        </div>
        <div class="card-text">
          <p>
            <strong>Cell:</strong> 1 (907) 227-1772</p>
          <p>
            <strong>Email:</strong>
            <a target="_blank" href="mailto:joeladadamsdesign@gmail.com">joeladadamsdesign@gmail.com</a>
          </p>
          <p>
            <strong>GitHub:</strong>
            <a target="_blank" href="https://github.com/joelaphoto">joelaphoto</a>
          </p>
          <p>
            <strong>LinkedIn:</strong>
            <a target="_blank" href="https://www.linkedin.com/in/joelradams/">joelradams</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Skills</h4>
        </div>
        <div class="card-text">
          <div class="row">
            <div class="col-md-12">
              <h6>Film/Digital Photography</h6>
              <p>10 years experience in digital and film photography. Recieved training through UAA's fine art photography program,
                additional training on equipment through Canon USA, Nikon USA, and more. Professional photography business
                in operation for 8 years.</p>
              <h6>Web Development</h6>
              <p>Techical training through Epicodus in C#, Javascript, HTML, CSS, Angular, jQuery, Firebase, .NET and Entity
                Frameworks. Additional knowledge of Unity and AFrame's web based VR library through personal exploration.</p>
              <h6>Graphic Design</h6>
              <p>Graphic design education through UAA's 2D design program. One year employment experience through position at
                UAA Student Activities. Eight years freelance experience working for individual clients. Fluent in Adobe
                Creative Suite software particularly Lightroom, Photoshop, Illustrator, and inDesign.</p>
                <h6>Device Troubleshooting</h6>
                <p>Training in PC hardware troubleshooting through King Career Center. Copious experience and training in Camera, connective, and IoT device troubleshooting through freelance work, sales and tech support positions at Kenmore Camera and Stewart's Photo Shop.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4>Experience</h4>
            </div>
            <div class="card-text">
              <hr>
              <h5 class="expTitle">Joel Adams Photography</h5>
              <p class="expLocation"><strong>Portland, OR</strong><br>(Sep 2011 to Present)</p>
              <p>Owner/Photographer/Designer</p>
              <ul>
                <li>Owner/Sole Propietor</li>
                <li>On-location and in-studio photography</li>
                <li>Freelance design services</li>
                <li>Social media and marketing management</li>
                <li>Editing and delivery of final product</li>
              </ul>
              <hr>
              <h5 class="expTitle">Kenmore Camera</h5>
              <p class="expLocation"><strong>Kenmore, WA</strong><br>(Apr 2016 to Sep 2017)</p>
              <p>Floor Sales Associate</p>
              <ul>
                <li>Sales of and advising on cameras and related equipment</li>
                <li>Assisting customers from initial contact through checkout</li>
                <li>Ongoing assistance with technical troubleshooting/customer service issues</li>
                <li>Check in and testing of used equipment being considered for trade/buy</li>
                <li>Continuous training on new equipment, photography concepts through Canon, Nikon, Sony, etc.</li>
              </ul>
              <hr>
              <h5 class="expTitle">Stewart's Photo Shop</h5>
              <p class="expLocation"><strong>Anchorage, AK</strong><br>(Apr 2014 to Sep 2015)</p>
              <p>Floor Sales Associate</p>
              <ul>
                <li>Sales of and advising on cameras and related equipment</li>
                <li>Assisting customers from initial contact through checkout</li>
                <li>Ongoing assistance with technical troubleshooting/customer service issues</li>
                <li>Assisted manager with day-to-day store operation</li>
                <li>Management of current inventory, ordering of new inventory</li>
                <li>Graphic design of in store signage/advertising</li>
                <li>Continuous training on new equipment, photography concepts through Canon, Nikon, Sony, etc.</li>
              </ul>
              <hr>
              <h5 class="expTitle">UAA Student Activities</h5>
              <p class="expLocation"><strong>Anchorage, AK</strong><br>(Sep 2012 to Aug 2013)</p>
              <p>Student Union Gallery Assistant Manager / Graphic Designer</p>
              <ul>
                <li>Assisted Gallery Manager with day-to-day operation</li>
                <li>Organization of SU Gallery Events</li>
                <li>Oversaw gallery employees</li>
                <li>Graphic design of advertising, merchandise, and other promotional materials for entire Student Life & Leadership department, as well as other departments on request</li>
                <li>Additional responsibilites and assisting with events as requested (eg flipping burgers for student events, photography services, etc)</li>
              </ul>
              

            </div>
          </div>
        </div>
  </div>
</div>
