@import '../../variables';

.navbar-brand {
    font-family: $title-font;
    font-size: 30px;
}

.nav-item {
    font-family: $title-font;
    font-size: 20px;
}

.nav-link {
    color: white !important;
    cursor: pointer;
}


.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1)
}

@media only screen and (max-device-width: 990px) {
    .nav-link {
        padding-left: 10px;
        }

        .nav-link:hover {
        background-color: rgba(209, 0, 0, 0.514);
        }
        
        .show .navbar-nav, .collapsing .navbar-nav {
            background-color: rgba(0, 0, 0, 0.514);
        }
}