@import '../../variables';

.head-section {
    .container {
        padding-top: 60px;
        p {
            color: white;
            font-size: 16px;
            font-weight: 100;
        }

        .skill-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            .skill {
                text-align: center;
                margin-top: 20px;
                color: white;
                font-family: $title-font;
                width: 45%;
                @media (min-width: 580px){
                    width: 30%;
                }
                @media (min-width: 768px) {
                    text-align: left;
                }
                @media (min-width: 990px){
                    text-align: left;
                    width: 266px;
                    margin: 10 auto;
                }
                img.skill-icon {
                    max-width: 50px;
                    height: 50px;
                    margin: 0 auto 10px auto;
                    display: block;
                    @media (min-width: 768px){
                        float: left;
                        margin-right: 10px;
                    }
                }
                h1 {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 24px;
                    letter-spacing: 0.1em;
                }


                h3 {
                    font-size: 12px;
                    font-family: $body-font;
                }
                
            }
        }
    }
}

div.project-section{
    .card {
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: transparent;
        .card-body {
            padding-left: 0px;
            padding-right: 0px;
        }
        h1.project-name {
            font-size: 30px;
            margin-bottom: 10px;
        }

        hr {
            border: red 1px solid;
            @media(min-width: 768px) {
                width: 48%;
                margin-left: unset;
            }
        }

        h4 {
            font-size: 18px;
        }
        
        .project-img {
            width: 100%;
            margin-bottom: 10px;
            @media(min-width: 768px) {
                float: right;
                width: 50%;
                margin: 0 0 10px 10px;
            } 
        }

    }
}

