<div class="head-section">
  <div class="container">
    <!-- <p>
      <span class="title">Development</span> is my newest skill but was the perfect thing to add to my repetoir. Since
      completing the C#/.NET track at Epicodus in 2018, I’ve explored many aspects of web and application development,
      including building websites with Angular and Google Firebase, and VR applications in Unity. I’ve continued to
      expand my skillset by learning SASS for easier front-end styling, and Figma for UI design and prototyping.<br>
      <br>
      These skills have come in handy in my freelancing work, allowing me to create websites that are extremely cheap to
      host, but allow the client to update page content and images through an authenticated back end (like this one!)
    </p> -->
    <div class="skill-container">
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/html+css.png" alt="">
        <h1>HTML/CSS</h1>
        <h3>{{calulateMonths("01 January 2018 00:00:00 GMT")}}</h3>

      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/angular.png" alt="">
        <h1>Angular</h1>
        <h3>{{calulateMonths("01 March 2018 00:00:00 GMT")}}</h3>

      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/javascript.png" alt="">
        <h1>javascript</h1>
        <h3>{{calulateMonths("01 January 2018 00:00:00 GMT")}}</h3>
   
      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/sass.png" alt="">
        <h1>SASS</h1>
        <h3>{{calulateMonths("01 July 2018 00:00:00 GMT")}}</h3>

      </div>

      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/csharp.png" alt="">
        <h1>C#/.NET</h1>
        <h3>{{calulateMonths("01 May 2018 00:00:00 GMT")}}</h3>

      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/git.png" alt="">
        <h1>Git</h1>
        <h3>{{calulateMonths("01 January 2018 00:00:00 GMT")}}</h3>

      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/unity-icon-vector-logo-1.png" alt="">
        <h1>Unity</h1>
        <h3>{{calulateMonths("01 June 2018 00:00:00 GMT")}}</h3>

      </div>
      <div class="skill">
        <img class="skill-icon" src="../../assets/images/icons/react.png" alt="">
        <h1>React</h1>
        <h3>{{calulateMonths("01 June 2019 00:00:00 GMT")}}</h3>

      </div>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="container">
    <app-add-project *ngIf='(user|async)?.uid'></app-add-project>
    <div class="project row" *ngFor="let project of projects | async | reverse">
      <div class="col-lg-5 col-md-6 col-sm-12 image">
        <a href="{{project.link}}">
          <img class="project-img" src="{{project.imgUrl}}" alt="{{project.name}}">
        </a>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 text">
        <h1 class="project-name">{{project.name}}</h1>
        <a href="{{project.link}}" target="_blank"><img src="../../assets/images/icons/git-white.png" alt="View on Github" title="View on Github"></a>
          <hr>
          <p>
            <em>{{project.shortDesc}}</em>
          </p>
          <p class="project-desc">{{project.longDesc}}</p>
          
      </div>
    </div>
  </div>
</div>