@import '../../variables';

 
.card {
    margin-top: 70px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-family: $body-font;
    @media (min-width: 768px) {
        max-width: 400px;
        margin: 70px auto 0 auto;
    }

}

.btn {
    width: 100%;
    font-size: 20px;
}