@import '../../variables';

 
.card {
    margin-top: 10px;
    border: none;
    border-radius: 0;
}

.btn {
    width: 100%;
    font-family: $title-font;
    font-size: 2.5vw;
    border-radius: 0;
    margin-top: 5px;
    background-color: $primary-color;

}