p {
    color: white;
    font-size: 24px;
    font-weight: 100;
}

.title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.card {
    background-color: transparent;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.container {
    min-height: 100vh;
    color: white;
    padding-top: 60px;
}