<div class="row">
    <div class="col-md-8">
        <div class="img-wrapper">
            <img src="{{imgUrl}}" id="display-img">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>{{(imageToDisplay | async)?.title}}</h2>
                </div>
                <div class="card-body">
                    <p>{{(imageToDisplay | async)?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>