<div class="head-section">
  <div class="container">
    <p>
      <span class="title">Design</span> is one of my favorite topics of study. The process of creating a pleasing and
      intuitive user interface or a product label that stands out among the others is such a fascinating mix of art and
      psychology. I’ve been employed to work in many facets of design, including creation of marketing materials, logo
      design, product packaging, UI design and protoyping.<br>
      <br>
      I recieved formal training through the UAA Graphic Design minor program, and expanded my skills working for UAA
      Student Activities, CRM Blackbox, and Stewart’s Photo Shop. I’ve also spent signficant time doing freelance design
      work for small businesses, artists, and musicians.
    </p>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/photoshop.png" alt="">
        <h1>ADOBE PHOTOSHOP</h1>
        <h3>{{calulateMonths("01 June 2006 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-85">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/illustrator.png" alt="">
        <h1>ADOBE ILLUSTRATOR</h1>
        <h3>{{calulateMonths("01 September 2009 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-90">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/indesign.png" alt="">
        <h1>ADOBE INDESIGN</h1>
        <h3>{{calulateMonths("01 September 2009 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/figma.png" alt="">
        <h1>FIGMA</h1>
        <h3>{{calulateMonths("01 August 2018 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-section display">
  <div class="container">
    <h1>Advertising</h1>
    <div class="flex-row">
        <a href="https://www.dropbox.com/sh/7fio2h2vewnc582/AACyeZVbgHv__uB6MI_sABxOa?dl=0" target="_blank"><img class="port-img" src="../../assets/images/design/fsfunnels.jpg" alt="fullservicefunnels"></a> 
        <a href="https://www.dropbox.com/sh/880gje1jjghqrft/AABh_SXRGn26Rubhno7BaPDaa?dl=0" target="_blank"><img class="port-img" src="../../assets/images/design/ignite.jpg" alt="ignite"></a>
        <a href="https://www.dropbox.com/sh/zrzhuw3owgnch1b/AACVVkS4pj6us7ZvlolrySxZa?dl=0" target="_blank"><img class="port-img" src="../../assets/images/design/ad.jpg" alt="ad"></a> 
    </div>
    <h1>UI and WEB DESIGN</h1>
    <div class="flex-row">
        <a href="https://www.figma.com/file/P9jNKsgJusRf1AiyFtz6MOz5/Joel-Adams-Portfolio?node-id=0%3A1" target="_blank"><img class="port-img" src="../../assets/images/design/joelaphoto.jpg" alt="joel adams design"></a> 
        <a href="https://www.figma.com/file/JMG8RAihmkXOa6wSQMEg1qnT/Schooner-Aurelia" target="_blank"><img class="port-img" src="../../assets/images/design/aurelia.jpg" alt="aurelia"></a> 
    </div>
    <h1>PRODUCT</h1>
    <div class="flex-row">
        <a href="https://www.dropbox.com/sh/j2lhv29f7orsajr/AAAqhJzS1u2M_g2fSWU7LQTxa?dl=0"  target="_blank"><img class="port-img" src="../../assets/images/design/hair.jpg" alt="hair voeux"></a> 
        <a href="https://www.dropbox.com/sh/880gje1jjghqrft/AABh_SXRGn26Rubhno7BaPDaa?dl=0" target="_blank"><img class="port-img" src="../../assets/images/design/bottles.png" alt="pure bhb keto"></a>
        <a href="https://www.dropbox.com/sh/jbbv8m8kfb88hzd/AAAOg9Hh9tgECtrz9NE42ulQa?dl=0" target="_blank"><img class="port-img" src="../../assets/images/design/boost.png" alt="boost keto"></a>
    </div>
  </div>
</div>
<div class="portfolio-section d-sm-block d-md-none">
    <div class="container">
      <h1>Advertising</h1>
      <a href="https://www.dropbox.com/sh/7fio2h2vewnc582/AACyeZVbgHv__uB6MI_sABxOa?dl=0" target="_blank"><img class="mobile" src="../../assets/images/design/fsfunnels.jpg" alt="fullservicefunnels"></a> 
      <a href="https://www.dropbox.com/sh/880gje1jjghqrft/AABh_SXRGn26Rubhno7BaPDaa?dl=0" target="_blank"><img class="mobile" src="../../assets/images/design/ignite.jpg" alt="ignite"></a>
      <a href="https://www.dropbox.com/sh/zrzhuw3owgnch1b/AACVVkS4pj6us7ZvlolrySxZa?dl=0" target="_blank"><img class="mobile" src="../../assets/images/design/ad.jpg" alt="ad"></a> 
      <h1>UI and WEB DESIGN</h1>
      <a href="https://www.figma.com/file/P9jNKsgJusRf1AiyFtz6MOz5/Joel-Adams-Portfolio?node-id=0%3A1" target="_blank"><img class="mobile" src="../../assets/images/design/joelaphoto.jpg" alt="joel adams design"></a> 
      <a href="https://www.figma.com/file/JMG8RAihmkXOa6wSQMEg1qnT/Schooner-Aurelia" target="_blank"><img class="mobile" src="../../assets/images/design/aurelia.jpg" alt="aurelia"></a> 
      <h1>PRODUCT</h1>
      <a href="https://www.dropbox.com/sh/j2lhv29f7orsajr/AAAqhJzS1u2M_g2fSWU7LQTxa?dl=0"  target="_blank"><img class="mobile" src="../../assets/images/design/hair.jpg" alt="hair voeux"></a> 
      <a href="https://www.dropbox.com/sh/880gje1jjghqrft/AABh_SXRGn26Rubhno7BaPDaa?dl=0" target="_blank"><img class="mobile" src="../../assets/images/design/bottles.png" alt="pure bhb keto"></a>
      <a href="https://www.dropbox.com/sh/jbbv8m8kfb88hzd/AAAOg9Hh9tgECtrz9NE42ulQa?dl=0" target="_blank"><img class="mobile" src="../../assets/images/design/boost.png" alt="boost keto"></a>
    </div>
  </div>