<div class="head-section">
  <div class="container">
    <p>
      <span class="title">Design</span> is one of my favorite topics of study. The process of creating a pleasing and
      intuitive user interface or a product label that stands out among the others is such a fascinating mix of art and
      psychology. I’ve been employed to work in many facets of design, including creation of marketing materials, logo
      design, product packaging, UI design and protoyping.<br>
      <br>
      I recieved formal training through the UAA Graphic Design minor program, and expanded my skills working for UAA
      Student Activities, CRM Blackbox, and Stewart’s Photo Shop. I’ve also spent signficant time doing freelance design
      work for small businesses, artists, and musicians.
    </p>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/photoshop.png" alt="">
        <h1>ADOBE PHOTOSHOP</h1>
        <h3>{{calulateMonths("01 June 2006 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-85">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/illustrator.png" alt="">
        <h1>ADOBE ILLUSTRATOR</h1>
        <h3>{{calulateMonths("01 September 2009 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-90">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/indesign.png" alt="">
        <h1>ADOBE INDESIGN</h1>
        <h3>{{calulateMonths("01 September 2009 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/figma.png" alt="">
        <h1>FIGMA</h1>
        <h3>{{calulateMonths("01 August 2018 00:00:00 GMT")}}</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 port-img" id="fsf"></div>
      <div class="col-md-6 col-sm-12">
        <h1>Full Service Funnels</h1>
        <p>One of my first tasks at Full Service funnels was to assist with a full rebranding of the company from CRM
          Blackbox to their next brand identity, Full Service Funnels.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 port-img" id="aurelia"></div>
      <div class="col-md-6 col-sm-12">
        <h1>Aurelia Charters</h1>
        <p>One of my first tasks at Full Service funnels was to assist with a full rebranding of the company from CRM
          Blackbox to their next brand identity, Full Service Funnels.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 port-img" id="bhb"></div>
      <div class="col-md-6 col-sm-12">
        <h1>Pure BHB Keto</h1>
        <p>One of my first tasks at Full Service funnels was to assist with a full rebranding of the company from CRM
          Blackbox to their next brand identity, Full Service Funnels.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 port-img" id="joelaphoto"></div>
      <div class="col-md-6 col-sm-12">
        <h1>Portfolio</h1>
        <p>One of my first tasks at Full Service funnels was to assist with a full rebranding of the company from CRM
          Blackbox to their next brand identity, Full Service Funnels.</p>
      </div>
    </div>
  </div>
</div>