<div class="head-section">
  <div class="container">
    <p>
      <span class="title">Design</span> is one of my favorite topics of study. The process of creating a pleasing and
      intuitive user interface or a product label that stands out among the others is such a fascinating mix of art and
      psychology. I’ve been employed to work in many facets of design, including creation of marketing materials, logo
      design, product packaging, UI design and protoyping.<br>
      <br>
      I recieved formal training through the UAA Graphic Design minor program, and expanded my skills working for UAA
      Student Activities, CRM Blackbox, and Stewart’s Photo Shop. I’ve also spent signficant time doing freelance design
      work for small businesses, artists, and musicians.
    </p>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/photoshop.png" alt="">
        <h1>ADOBE PHOTOSHOP</h1>
        <h3>10 years</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-85">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/illustrator.png" alt="">
        <h1>ADOBE ILLUSTRATOR</h1>
        <h3>4 years</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-90">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/indesign.png" alt="">
        <h1>ADOBE INDESIGN</h1>
        <h3>3 years</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
      <div class="col-6 skill">
        <img class="skill-icon" src="../../assets/images/icons/figma.png" alt="">
        <h1>FIGMA</h1>
        <h3>8 months</h3>
        <div class="skill-bar">
          <div class="skill-bar-inner w-75">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-section">
  <div class="container">
    <h1>Advertising</h1>
    <div class="flex-row">
        <img src="../../assets/images/design/fsfunnels.jpg" alt="fullservicefunnels">

        <img src="../../assets/images/design/ignite.jpg" alt="ignite">

        <img src="../../assets/images/design/ad.jpg" alt="ad">

    </div>
    <h1>UI and WEB DESIGN</h1>
    <div class="flex-row">
        <img src="../../assets/images/design/joelaphoto.jpg" alt="fullservicefunnels">

        <img src="../../assets/images/design/aurelia.jpg" alt="ignite">
    </div>
    <h1>PRODUCT</h1>
    <div class="flex-row">
        <img src="../../assets/images/design/hair.jpg" alt="fullservicefunnels">

        <img src="../../assets/images/design/bottles.png" alt="ignite">

        <img src="../../assets/images/design/boost.png" alt="ad">

    </div>
  </div>

</div>