.project-date {
    display: inline;
    float: right;
}

.project-name {
    display: inline;
}

.project-img {
    max-width: 50%;
}

@media only screen and (max-width: 720px) {
    body {
        max-width: 100%;
    }
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-desc {
    margin-right: 10px;
    padding-right: 10px;
}

