@import 'variables';

body {
    background-image: url(assets/images/dark-triangles.png);
    background-attachment: fixed;
    background-position: center;

}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}
p {
    font-family: $body-font;
}